body{
    font-family: 'Cabin', sans-serif;
}

span{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 2.0rem;
}
.indicador-activo li{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: blue;
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 400;
}
/* media query para no mostrar el carrusel en dispositivos pequeños */
@media (max-width: 992px){
    .ocultar-carrusel{
        display: none;
    }
}

hr{
    background-color: gray;
    height: 1px;
}

.titulo{
    font-size: 1.5rem;
}

.titulorojo{
    color:red;
}

/* subrayado solo en vista escritorio */
@media (min-width: 600px){
.titulo{
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}
}

.pasos li{
    padding: 5px;

}

#suscribete{
    height: 40vh;
}

.boton-empezar{
    padding-inline: 4vw;
}

footer{
    height: auto;
}